$border-r : 10px;
$main-pink: #ff0097;
.screen{
  width: 30rem;
  height: 0.5rem;
  border-radius: $border-r;
  background-color: $main-pink;
  box-shadow: 0 12px 20px #ffade2;
}

.seatingContainer{
  max-width: 30rem;
  
}

.seatingInfo{
  width: 30rem;
  border: 1px solid white;
  border-radius: $border-r;
}

.glow-button{
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.glow-button:hover {
  box-shadow: 0 5px 15px rgba(255, 109, 206, 0.863);
 }

 .selectedSeating{
   background-color: $main-pink ;
   border-radius: $border-r;
   width: 50%;
   transition: all 0.2s ease-in-out;
 }

 .lowBlock{
   width: 30rem;
 }

.payment_button{
  background: rgb(9,0,145);
  background: linear-gradient(84deg, rgba(9,0,145,1) 0%, rgba(255,0,177,1) 100%);
  border-radius: $border-r;
  color: white;
  border: none;
  width: 10rem;
  height: 3.5rem;
  font-size: large;
}
.payment_button:hover{
  box-shadow: 0 5px 15px rgba(9,0,145,1);
}