$border-r : 10px;
$main-pink: #ff0097;

.screen{
  height: 0.5rem;
  border-radius: $border-r;
  background-color: $main-pink;
  box-shadow: 0 12px 20px #ffade2;
}


.seatingInfo{
  // width: $main-size;
  border: 1px solid white;
  border-radius: $border-r;
}

.commonBtn{
  width: 10%;
  height: 4rem;
  font-size: larger;
  margin-right: 5%;
  margin-top: 5%;
}

.glow-button{
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.glow-button:hover {
  box-shadow: 0 5px 15px rgba(255, 109, 206, 0.863);
 }

 .selectedSeating{
   background-color: $main-pink ;
   border-radius: $border-r;
   transition: all 0.2s ease-in-out;
 }

 .buttonActive{
   background-color: $main-pink !important;
   color: white !important;
 }

 .lowBlock{
   
 }

.payment_button{
  background: rgb(9,0,145);
  background: linear-gradient(84deg, rgba(9,0,145,1) 0%, rgba(255,0,177,1) 100%);
  border-radius: $border-r;
  color: white;
  border: none;
  width: 110%;;
  height: 3.5rem;
  font-size: large;
}
.payment_button:hover{
  box-shadow: 0 5px 15px rgba(9,0,145,1);
}

@media (min-width: 320px) {
  .selectedSeating{
    width: 100%;
  }

  .commonBtn{
    width: 11%;
    height: 2rem;
    font-size: small !important;
    padding: 0px !important;
  }
}
@media (min-width: 768px) {
  
  .payment_button{
    width: 105%;;
  }
  .selectedSeating{
    width: 50%;
  }
}
@media (min-width: 1024px) {
  
  .payment_button{
    width: 80%;;
  }
}