@import '../common.scss';

.container{
  max-width: 420px;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}

.title {
  color: #f8f9fa;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
 }
 
 .col-6{
   flex: 0 0 50%;
    max-width: 50%;	
 }

 .align-arround{
  align-content: space-around;
 }
 
 
 .textStyles{
   color: #f8f9fa !important;
   display: inline;
   padding-left: 1rem;
 }	
 
 
.screen{
  height: 0.5rem;
  border-radius: $border-r;
  background-color: $main-pink;
  box-shadow: 0 12px 20px #ffade2;
}


.seatingInfo{
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-radius: $border-r;
}


@media (min-width: 320px) {

  .seatingInfo{
    padding: 0;
  }
  
}
